.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 5rem auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.auth-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FFCB05;
    color: white;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #D4A017;
}

h2 {
    margin-bottom: 40px;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 1rem;
}

@media screen and (max-width: 480px) {
    .auth-form {
        width: 350px;
    }
}